.hero{

    min-height:90vh;

    display:flex;

    align-items:center;

    background:
        linear-gradient(
            180deg,
            #F8FAFC 0%,
            #EFF6FF 100%
        );

}

.badge{

    display:inline-block;

    padding:10px 18px;

    background:#DBEAFE;

    color:#2563EB;

    border-radius:999px;

    font-weight:600;

    margin-bottom:25px;

}

.title{

    font-size:4.5rem;

    font-weight:800;

    color:#111827;

    margin-bottom:10px;

}

.role{

    font-size:1.4rem;

    color:#2563EB;

    font-weight:700;

    margin-bottom:25px;

}

.description{

    font-size:1.2rem;

    line-height:1.8;

    color:#6B7280;

    max-width:650px;

}

.buttons{

    display:flex;

    flex-wrap:wrap;

    gap:15px;

    margin-top:40px;

}

.photoWrapper{

    position:relative;

    display:inline-block;

}

.photoWrapper::before{

    content:"";

    position:absolute;

    width:380px;

    height:380px;

    background:#DBEAFE;

    border-radius:50%;

    left:-20px;

    top:-20px;

    z-index:0;

}

.profileImage{

    position:relative;

    z-index:1;

    width:360px;

    height:360px;

    object-fit:cover;

    border-radius:50%;

    box-shadow:0 20px 50px rgba(0,0,0,.15);

}

@media (max-width:768px){

    .hero{
        min-height:auto;
        padding:70px 20px;
        text-align:center;
    }

    .title{
        font-size:3rem;
    }

    .description{
        margin:auto;
    }

    .buttons{

        justify-content:center;

        gap:12px;

    }

    .buttons button,
    .buttons a{

        width:180px;

    }

    .photoWrapper{

        margin-top:50px;

    }
    .profileImage {

        width: 240px;

        height: 240px;

    }

    .photoWrapper::before {

        width: 255px;

        height: 255px;

    }

}